In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mahirahkhan_instagram_data.csv")
df.head()

,Username,Followers,Following,Profile,Post NO,Likes,Comments,Total Posts on Profile,Engagement
0,mahirahkhan,11.6M followers,515 following,https://www.instagram.com/mahirahkhan,1,38300,373,1413 posts,38673
1,Total Posts on Profile,Scraped Posts,NaN,NaN,2,56300,2062,NaN,58362
2,1413 posts,0,NaN,NaN,3,74800,405,NaN,75205
3,NaN,NaN,NaN,NaN,4,15900,215,NaN,16115
4,NaN,NaN,NaN,NaN,5,252000,2128,NaN,254128

In [3]:
df.count()

Username                   3
Followers                  3
Following                  1
Profile                    1
Post NO                   25
Likes                     25
Comments                  25
Total Posts on Profile     1
Engagement                25
dtype: int64

In [4]:
views = ['1.5M', '2.2M', '471K', '1.5M', '909K', '378K', '406K', '500K', '429K', '595K', '416K', '199K', '505K', '730K', '9.7M', '437K', '579K', '832K', '10M', '637K', '270K', '3.4M', '340K', '403K', '10M']
df["views"] = views

In [5]:
df.head()

,Username,Followers,Following,Profile,Post NO,Likes,Comments,Total Posts on Profile,Engagement,views
0,mahirahkhan,11.6M followers,515 following,https://www.instagram.com/mahirahkhan,1,38300,373,1413 posts,38673,1.5M
1,Total Posts on Profile,Scraped Posts,NaN,NaN,2,56300,2062,NaN,58362,2.2M
2,1413 posts,0,NaN,NaN,3,74800,405,NaN,75205,471K
3,NaN,NaN,NaN,NaN,4,15900,215,NaN,16115,1.5M
4,NaN,NaN,NaN,NaN,5,252000,2128,NaN,254128,909K

In [6]:
def parse_views(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().upper()

    if value.endswith("M"):
        return int(float(value.replace("M", "")) * 1_000_000)

    elif value.endswith("K"):
        return int(float(value.replace("K", "")) * 1_000)

    else:
        return int(float(value))

In [7]:
df["views_numeric"] = df["views"].apply(parse_views)

In [8]:
df.head()

,Username,Followers,Following,Profile,Post NO,Likes,Comments,Total Posts on Profile,Engagement,views,views_numeric
0,mahirahkhan,11.6M followers,515 following,https://www.instagram.com/mahirahkhan,1,38300,373,1413 posts,38673,1.5M,1500000
1,Total Posts on Profile,Scraped Posts,NaN,NaN,2,56300,2062,NaN,58362,2.2M,2200000
2,1413 posts,0,NaN,NaN,3,74800,405,NaN,75205,471K,471000
3,NaN,NaN,NaN,NaN,4,15900,215,NaN,16115,1.5M,1500000
4,NaN,NaN,NaN,NaN,5,252000,2128,NaN,254128,909K,909000

In [9]:
df.drop(columns=["views"], inplace=True)
df.rename(columns={"views_numeric": "views"}, inplace=True)