In [8]:
import pandas as pd
import numpy as np
import F2_Audience_Quailty

In [3]:
df = pd.read_csv("new_mahirahkhan_instagram_data.csv")

df.head()

,Username,Followers,Following,Profile,Post NO,Likes,Comments,Total Posts on Profile,Engagement,views
0,mahirahkhan,11.6M followers,515 following,https://www.instagram.com/mahirahkhan,1,38300,373,1413 posts,38673,1500000
1,Total Posts on Profile,Scraped Posts,NaN,NaN,2,56300,2062,NaN,58362,2200000
2,1413 posts,0,NaN,NaN,3,74800,405,NaN,75205,471000
3,NaN,NaN,NaN,NaN,4,15900,215,NaN,16115,1500000
4,NaN,NaN,NaN,NaN,5,252000,2128,NaN,254128,909000

In [ ]:
percent_engage = (df["Engagement"].median()/11600000)*100

print(df["Engagement"].median())
print(percent_engage)

207880.0
1.7920689655172413

In [7]:
percent_views = (df["views"].median()/11600000)*100

print(df["views"].median())
print(percent_views)

579000.0
4.991379310344827

Social Social Weights according to my conducted research

In [ ]:
weigths_engagement = 50
weigths_audience_quality = 25
weigths_views = 17
weigths_followers = 8

In [ ]:
social_score = (weigths_engagement * percent_engage) + (weigths_audience_quality * Auidence_quality) + (weigths_views * percent_engage) + (weigths_followers * FOLLOWERS)